.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.error-404 {
  font-size: 6rem;
  color: #333;
  margin-bottom: 1rem;
}

.error-404-content {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
}

.back-to-home {
  height: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .error-404 {
    font-size: 3rem;
  }

  .error-404-content {
    font-size: 1rem;
  }
}
