.lost-and-found-form {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 400px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

#itemdescription {
  height: 80px;
}

.form-group1 {
  width: 26.3rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
